<ion-content>
  <div class="container top">
    <img src="/assets/img/img2.jfif">
  </div>

  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <h2>Arraste para mais informações...</h2>
       
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <h2>Bem Vindo ao Whua Do You Think!</h2>
        
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <h2>Crie suas Makes</h2>
       
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <h2>Compartilhe com seus contatos</h2>
        
      </div>
    </ion-slide>
  </ion-slides>
    <div class="container bottom ion-text-center"><ion-button color="secondary" routerLink="/login" shape="round">Pular</ion-button></div>
</ion-content>